html, body, #root {
  height: 100%;
}

.mental-health-page {
  height: 100%;
  width: 300%;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: repeat(3, 1fr);

  &-header {
    position: fixed;
    width: 100%;
    grid-row: 1;
    grid-column: 1 / 3;
  }

  &-content {
    grid-row: 2;

    &-col1 {
      grid-column: 1;
    }

    &-col2 {
      grid-column: 2;
    }

    &-col3 {
      grid-column: 3;
    }
  }
}

.header {
  &-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  &-label {
    text-align: center;

    &-selected {
      border: 1px solid lightskyblue;
    }
  }
}